# Настройки БД
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ledger_aggregator
DB_SSLMODE=disable

# Настройки СВАП
SVAP_FSG_HOST=http://svap-gk-host:8080
SVAP_FSG_SUFFIX=/api/query/execute
SVAP_TURN_HOST=http://svap-gk-host:8080
SVAP_TURN_SUFFIX=/api/query/execute
SVAP_PA_HOST=http://svap-gk-host:8080
SVAP_PA_SUFFIX=/api/query/execute
SVAP_CONS_HOST=http://svap-gk-host:8080
SVAP_CONS_SUFFIX=/api/query/execute
SVAP_INSECURE_SKIP_VERIFY=false

# Настройки сервера
SERVER_PORT=8080
