# Настройки БД
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=svap_query_service
DB_SSLMODE=disable

# Настройки СВАП
SVAP_FSG_HOST=http://fk-eb-svap-dev-fb-svip-datamart.otr.ru:8081
SVAP_FSG_SUFFIX=/fah_main
SVAP_TURN_HOST=http://fk-eb-svap-dev-fb-svip-datamart.otr.ru:8081
SVAP_TURN_SUFFIX=/fah_main
SVAP_COR_HOST=http://fk-eb-svap-dev-fb-svip-datamart.otr.ru:8081
SVAP_COR_SUFFIX=/fah_main
SVAP_PA_HOST=http://fk-eb-svap-dev-fb-svip-datamart.otr.ru:8081
SVAP_PA_SUFFIX=/fah_main
SVAP_CONS_HOST=http://fk-eb-svap-dev-fb-svip-datamart.otr.ru:8081
SVAP_CONS_SUFFIX=/fah_main
SVAP_INSECURE_SKIP_VERIFY=false
SVAP_TIMEOUT_SECONDS=180

# Настройки сервера
SERVER_PORT=8080
