# Настройки БД
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ledger_aggregator
DB_SSLMODE=disable

# Настройки СВАП (только для первого запуска)
SVAP_HOST_GK=http://svap-gk-host:8080
SVAP_HOST_LS=http://svap-ls-host:8080
SVAP_HOST_JO=http://svap-jo-host:8080

# Настройки сервера (только для первого запуска)
SERVER_PORT=8080
